#choose-us.pb-10{
    /*padding-bottom: 120px;*/
}
.slick-dots{
    width: auto!important;
}

.intro-content{
    min-height: 80vh;
    max-height: 80vh
}

.contant h4{
    text-transform: uppercase;
}
